[Unit]
Description=Growbox proxy server
After=nginx.service
Requires=nginx.service

[Service]
ExecStart=/opt/growbox/gbweb
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-abnormal

[Install]
WantedBy=multi-user.target