

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #060606; 
  font-size: 14px;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
/*
::placeholder { color: #999999; }   
::-webkit-input-placeholder { color: #999999; }
:-ms-input-placeholder {  color: #999999; } 
::-ms-input-placeholder { color: #999999; }   

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}
*/
label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

option:hover {
  background: var(--navi_btn-select-color); /*olive linear-gradient(olive, olive);*/
}

option:checked {
  background: var(--navi_btn-color) linear-gradient(var(--navi_btn-color), var(--navi_btn-color)); /*olive linear-gradient(olive, olive);*/
  /*color: blue;*/
}

/*-------------- Common Interface's elements' colors --------------*/

:root {
  /* Elements' colors */
  --navi_btn-color: hsla(94, 60%, 26%, 1); /* #3e6c1b; */
  --navi_btn-select-color: hsla(94, 63%, 41%, 1); /* #61AC27; */

  --ctrl_btn-color: hsla(94, 60%, 26%, 1); 
  --ctrl_btn-select-color: hsla(94, 63%, 41%, 1); 

  --header-line-text-color: hsla(0, 0%, 91%, 1);
  --header-btn-text-color: hsla(0, 0%, 91%, 1);
  --header-bright-side-color: hsla(94, 63%, 41%, 1); /*rgba(255,255,99,0.50);*/
  --header-dull-side-color: hsla(0, 0%, 33%, 1);

  --ok_btn-color: hsla(94, 69%, 50%, 1); /* #73D627 */
  --err_btn-color: hsla(5, 60%, 43%, 1); /* #af372c */
 
  --cell-title-color: hsla(0, 0%, 10%, 1);  /* #191919 */
  --mainmenu-btn-color: hsla(0, 0%, 16%, 1); /* rgba(85, 85, 85, 0.55) */
  --mainmenu-safe-color: hsla(129, 82%, 37%, 1); /* #11ac27 */
  --mainmenu-alarm-color: red;    /*  */
  --mainmenu-blue-color: blue;

  --switch-bg-color: hsla(0, 0%, 13%, 1);
  --switch-color: hsla(0, 0%, 80%, 1);

  /* Texts' colors */
  --navi_btn-text-color: hsla(0, 0%, 91%, 1);
  --ctrl_btn-text-color: hsla(0, 0%, 91%, 1);
  --title-text-color: hsla(0, 0%, 91%, 1);
  --helper-text-color: hsla(0, 0%, 91%, 1);
  --cell_name-text-color: hsla(0, 0%, 91%, 1);
  --mainmenu-btn-text-color: hsla(0, 0%, 91%, 1);
  --mainmenu-btn-state-color: hsla(0, 0%, 91%, 1);
  --mainmenu-btn-sub-state-color: hsla(0, 0%, 91%, 1);
  --footer-text-color: hsla(0, 0%, 91%, 1);
  --ok_btn-text-color: hsla(0, 0%, 91%, 1);
  --err_btn-text-color: hsla(0, 0%, 91%, 1);

  --placeholder-text-color: hsla(0, 0%, 60%, 1);
  --placeholder-font-family: Verdana, Geneva, sans-serif;
  --placeholder-font-size: 1.2rem;

  --cell-label-text-color: hsla(0, 0%, 60%, 1);
}

/* Common */
.input-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2rem;
  color: var(--cell_name-text-color);
  line-height: 1.2;
}

.cell-label-text{
  font-family: var(--placeholder-font-family);
  color: var(--placeholder-text-color);
  font-size: var(--placeholder-font-size);
}

/* [ Login ] */
.login-title-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.4rem;
  color: var(--title-text-color);
  line-height: 1.2;
} 

/* [ Main Menu page ]*/
.mainmenu-btns-style{
  top: -210px;
  left: -415px;
  border-radius: 10px;
  background-color: var(--mainmenu-btn-color);
}

.ui-ver-text{
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-size: 1.15rem;  /*16px*/
}

.mainmenu-btn-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;

  color: var(--mainmenu-btn-text-color);
}

.state-val-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.4rem;
  /*line-height: 2;*/
  font-weight: 100;
  color: var(--mainmenu-btn-state-color);
}

.main-state-val-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3rem;
  color: var(--mainmenu-safe-color);
}

.sub-state-val-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  color: var(--mainmenu-btn-sub-state-color);
}

/* Climate page */
.dates-select-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  color: var(--title-text-color);
  line-height: 1.2;
  padding-left: 5px;
}

.dates-avail-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.2;
  padding-bottom: 5px;
  padding-top: 5px;

  color: var(--title-text-color);
}

/* [ Settings page ]*/
.cell-title-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.2rem;
  color: var(--title-text-color);
  line-height: 1.2;
}

.cell-helper-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.6rem;
  color: var(--helper-text-color);
  line-height: 1.2;
}

.cell-name-text{
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 1.1rem;
  color: var(--cell_name-text-color);
}

/* [ Coolers page ] */
.cell-coolers-text{
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 2rem;
  color: var(--cell_name-text-color);
}


/* [ Control and navigation buttons ] */
.navigation-btn-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.3rem;
  color: var(--navi_btn-text-color);
  line-height: 1.2;
}

.ctrl-btn-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.85rem;
  color: var(--ctrl_btn-text-color);
  line-height: 1.2;
}

/* [ Footer ]*/
.footer-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.98rem;
  color: var(--footer-text-color); 
}

.footer-text:before{
  content: "Based on NGINX. Design by Arionel";
}

.my-body{
  width: 100%;  
  /*min-height: 100vh;*/
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
 
  position: relative;
  z-index: 1;

  background-image: url('img/patern.png');
  background-repeat: ;
  background-position: center;
  background-size: 30%; 
  background-color: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;
}
/*
.my-body::before {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.1);
}
*/

.menu-wrap{
  width: 90%;  
  height: 70%;
  top: 140px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  position: absolute;
  z-index: 3;
}

/* [ Page header styles ] */
.header-wrap{
  position: fixed;  

  display: block;

  width: 980px;
  top: 14%; 
  z-index: -1;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.mainmenu-btn{  
  position: relative;
  left: -36.5%;
}

.refresh-btn{
  position: relative;
  top: -93px;
  left: -9.5%;
}

.header-line{
  font-family: Verdana, Geneva, monospace;
  font-size: 2.85rem;
  color: var(--header-line-text-color);

  position: absolute;
  height: 70px;
  width: 190px;
  padding: 0.6vw;
  
  left: 54%;
  top: 4%;

  background-repeat: no-repeat;
}

.header-bright-side-color{
  border-radius: 6px;
  background-color: var(--header-bright-side-color);
}

.header-dull-side-color{
  border-radius: 6px;
  background-color: var(--header-dull-side-color);
}

.header-text{
  position: absolute;
  z-index: 3;
}

.container-header-btn {
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.header-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
  
  position: absolute; 
  top: -13px;
  left: 100%;
  padding: 0 0px;
  width: 95%;
  height: 100%;
  border-radius: 6px;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.header-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #11ac27;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.header-btn:hover {
  background-color: transparent;
}

.header-btn:hover:before {
  opacity: 1;
}

.header-btn-text{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.1rem;
  color: var(--header-btn-text-color);
}

/*----------------------------------------------
[ Media ] 

/* [ Modern Smartphones ] */
@media screen and (max-device-width:1024px) and (max-device-height:1880px)
{
  /* Common */
  .my-body{background-size: 60%;}
  .container-menu{width: 100%;}
  .header-wrap{top: 90%;}
  .mainmenu-btn{left: -23%;}
  .refresh-btn{left: 23%; top: -135px;}
  .header-line{font-size: 65px; height: 100px; width: 40%; left: 10%; top: 4%;}
  .header-bright-side-color{border-radius: 20px;}
  .header-dull-side-color{border-radius: 20px;}
  .header-btn{font-size: 50px; width: 95%; height: 100%; border-radius: 16px;}
  .ctrl-button, .ctrl-button::before{border-radius: 12px;}
  .ctrl-btn-text{font-size: 18px;}
  .navigation-btn{min-width: 240px; height: 100px; border-radius: 16px;}
  .navigation-btn-text{font-size: 22px;}
  .menu-wrap, .menu-cooler1-wrap, .menu-cooler2-wrap{height: 55%; top:15%;}
  .cell-name-text{font-size: 14pt;}

  /* Startup page */
  .header-startup{font-size: 100px;}
  .wrap-login{width: 90vw; border-radius: 40px; padding-top: 100px;}
  .login-form{border-radius: 0px 0px 40px 40px;}
  .login-form-title{font-size: 50px; padding-top: 5vh; padding-bottom: 5vh; border-radius: 40px 40px 0px 0px;}
  .input{height: 10vh; font-size: 50px;}
  .input::placeholder{font-size: 50px;}
  .container-login-form-btn{margin-top: 3vh;}
  .login-form-btn{min-width: 40vw; height: 7vh; font-size: 40px; margin-bottom: 2vh;}

  /* Main Menu */
  .mainmenu-header-img{width: 180px; height: 150px; margin-left: 165%; margin-top: -10%;}
  .header-ui-ver{margin-left: 175%; margin-top: 25%;}
  .ui-ver-text{font-size: 1.2rem;}
  .btn-content{top: 63vh; left: 70%; width: 260px; height: 260px; }
  .mainmenu-btns-style{border-radius: 20px;}
  .settings-btn{top: -525px; min-width: 370px; height: 145px; background-size: 35%;}
  .templ-btn{top: -485px; min-width: 160px; height: 355px; background-size: 80%;}
  .climate-btn{top: -340px; margin-left: 200px; min-width: 640px; height: 355px; background-size: 40%;}
  .light-btn{top: -525px;margin-left: 415px;  min-width: 420px; height: 145px; background-position: 20% 50%; background-size: 30%;}
  .light-name-pos{left: 60%; top:  25%;}
  .light_state-val{left: 65%; top:  55%;}
  .water-btn{top: -230px; min-width: 430px; height: 150px; background-size: 25%;}
  .wind-btn{top: -230px; min-width: 370px; height: 150px; background-size: 25%;}

  /* Settings page */
  .settings-header-img{width: 190px; height: 150px; margin-left: 170%; margin-top: 2%;}
  .cell-input-ip{font-size: 20px;}
  .cell-input-wifi{font-size: 20px;}
  .cell-input-rtc{font-size: 20px;}
  .cell-input-acc{font-size: 20px;}
  .cell-btn-lan-ok, .cell-btn-lan-error{border-radius: 10px;}

  /* Light FLC page */
  .light-header-img{width: 190px; height: 180px; margin-left: 165%; margin-top: -20px;}
  .cell-input-smooth-value{font-size: 20px;}
  .container-channel-form{width: 100%; height: 110%; top: 0;}
  .cell-sliders-name{font-size: 20px;}
  .light-range{margin-top: -40px; width: 14vh; height: 60px; border-radius: 40px;}
  .light-range::-webkit-slider-runnable-track{height: 68px; border-radius: 40px;}
  .light-range::-webkit-slider-thumb{height: 80px; width: 80px;}
  .toggle-bg{height: 30%; top: 35%; border-radius: 20px;}
  .channel-name, .channel-value{font-size: 18px;}
  .ch-devider{margin-top: 40px;}
  .cell-btn-channel{top: 78%; left: 15%; min-width: 70%; height: 14%;}
  .cell-btn-channel-error, .cell-btn-channel-ok{top: 79%; left: 15%; min-width: 70%; height: 12%; border-radius: 10px;}
  .cell-btn-smooth-value-error, .cell-btn-smooth-value-ok, .cell-btn-smooth-error, .cell-btn-smooth-ok, .cell-btn-rtc-ok, .cell-btn-rtc-error{border-radius: 10px;}


  /* Coolers page */
  .coolers-menu-container{top: 4%;}
  .menu-cooler1-wrap, .menu-cooler2-wrap{height: 80%;}
  .coolers-header-img{width: 180px; height: 180px; margin-left: 170%; margin-top: -20px;}
  .cell-coolers-text{font-size: 2.2rem;}
  .coolers-name-devider{margin-top: 80px;}
  .cooler-name {font-size: 24px;}
  .cooler-value{font-size: 22px;}
  .coolers-range{margin-top: -80px; width: 18vh; height: 60px; border-radius: 40px;}
  .coolers-range::-webkit-slider-runnable-track{height: 70px; border-radius: 40px;}
  .coolers-range::-webkit-slider-thumb{height: 90px; width: 90px;}
  .container-slider-btn{height: 13%;}
  .cell-btn-cooler{min-width: 70%; left: 15%; }
  .cell-btn-cooler-ok, .cell-btn-cooler-error{border-radius: 12px; left: 20%; min-width: 60%; top: 7%; height: 85%;}
  .cell-btn-time-ok, .cell-btn-time-error{top: 20%; height: 60%; border-radius: 10px;}

  /* Climate page */
  .climate-header-img{width: 190px; height: 180px; margin-left: 170%; margin-top: -30px;}
  .cell-btn-period-error, .cell-btn-period-ok{border-radius: 10px;}
}